[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

setuptools = "*"
wheel = "*"
spacy = "*"
nltk = "==3.5"
pillow = "==8.1.0"
pandas = "==1.2.0"
numpy = "==1.19.5"
gensim = "==3.8.3"
scikit-learn = "==0.24.0"
flask = "*"
flask-cors = "*"
keras = "==2.4.3"

[dev-packages]

[requires]
python_version = "3.7"
